html {
  color: #222;
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
}

body {
  margin: 0px;
  background: #f9f9f9;
}

.header {
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-top: 2em;
}

.header a {
  color: inherit;      
}

.content {
  margin: auto;
  max-width: 32em;
}
.content-wrapper {
    max-width: 64em;
    margin: 0 auto;
    padding-bottom: 4em;
}
.content img {
  max-width: 100%;
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}
h3 {
    font-size: 1em;
}

a {
  color: #d64937;
  text-decoration: none;
}

.post {
  padding-top: 2em;
}
.backnav {
  display: block;
  text-align: center;
}

.red {
    color: #d64937;
}

/* Logos*/
.logo-container {
  display: flex;
  margin-top: 2em;
  max-width: 24em;
  margin: auto;
  padding-top: 2em;
}
.logo-container a {
  margin:  auto;
}
.logo-container img {
  width: 4em;
}


/* Tables */
table, th, td {
  margin: auto;
  border: 1px solid #2d2d2d;
}

/* Definition lists */
dt {
  font-weight: bold;
}

/* Code blocks */
pre, dl {
  background: #dedede;
  padding: 2em;
  border-radius: 1em;
  border-style: solid;
}
pre code {
  white-space: pre;
}
