<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Michael Kovarik</title>
    <link rel="stylesheet" href="static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/favicon.ico">
  </head>
  <body>
    <div class="content-wrapper">
    <div class="header">
    <div class="content">
      <h1>Michael <span class="red">Kovarik</span></h1>
      <div class="logo-container">
        <a href="mailto: michaelkovarik@outlook.com"><img src="static/img/email-icon.svg"></a>
        <a href="https://github.com/mkovarik"><img src="static/img/github-icon.svg"></a>
        <a href="https://www.linkedin.com/in/michael-kovarik-1380a3112"><img src="static/img/linkedin-icon.svg"></a>
      </div>
    </div>
    </div>
    <div class="archive content">
      <p>Hi. My name is Michael Kovarik. I am a recent graduate of the
      Rutgers <a href="http://finmath.rutgers.edu/">Mathematical Finance</a>
      masters program. If you are an interested employer, please check out my
      <a href="static/resume.pdf">resume</a>.</p>

      <p>I am currently teaching a Summer course (<a
        href="math111">Statistics II</a>) at Raritan Valley Community
      College.</p>
      <h2>Blog</h2>
      <ul>
      {{#categories}}
	  {{#posts}}
      <li><b>{{date}}</b> <a href="blog/{{url}}.html">{{title}}</a></li>
	  {{/posts}}
      {{/categories}}
      </ul>
    </div>
  </div>
  </body>
</html>
